# Виртуальное окружение
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Картинки (JPEG, PNG, RAW и др.)
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.heic
*.raw
*.cr2
*.nef
*.arw
*.dng
*.orf
*.sr2
*.rw2
*.pef
*.svg

# Файлы, создаваемые системой
.DS_Store
Thumbs.db

# Индексы и базы данных проекта
image_index.faiss
images.db 